.contenedor{
	width: 100vw;
	padding: 0;
	margin: 0;
}
#logo{
	width: 35%;
	display: block;
	margin: 0 auto;
}
.bloque{
	padding: 30px;
	background: #d1d1d1;
}
#caja-header, #caja-footer{
	width: 80%;
	margin: 0 auto;
	align-items: center;
}
#caja-nav-footer{
	width: 50%;
	margin: 0 auto;
}
.menu-item{
	text-decoration: none;
	color: black;
	font-size: 16px;
	font-weight: 600;
	padding: 10px;
	font-style: italic;
	font-family: 'Heebo', sans-serif;

}
.menu-item:hover{
	background: black;
	color: white;
}
#caja-logo-footer{
	width: 30%;
	margin: 0 auto;
}
#logo-footer{
	width: 40%;
	display: block;
	margin: 0 auto;
}
.navbar{
	justify-content: center!important;
}
.menu-item-footer{
	text-decoration: none;
	color: black;
	font-size: 12px;
	font-weight: 600;
	padding: 10px;
	font-style: italic;
	font-family: 'Heebo', sans-serif;

}
.menu-item-footer:hover{
	background: black;
	color: white;
}
h1, h2, h3, h4{
	
	color: black;
	text-align: center;
	font-family: 'Heebo', sans-serif;
}
p{
	
	color: #7f8c8d;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	font-family: 'Heebo', sans-serif;
}
#cards, #caja-cta{
	margin: 60px 0;
}
table{
	margin: 40px 0 !important;
}
#caja-boton{
	width: 50%;
	margin: 40px auto;
}


@media screen and (max-width: 640px){
	#caja-header, #caja-footer, #caja-logo-footer, #caja-nav-footer{
	width: 100%;
	}
	#logo-footer{
		width: 50%;
		display: block;
		margin: 0 auto;
	}
	#logo {
		width: 40%;
		display: block;
		margin: 0 auto;
	}
	.menu-item{
		font-size: 12px;
	}
	.caja-form{
		width: 90%;
		margin: 0 auto;
	}
	label{
		display: block;
		margin: 0 auto;
	}
	nav{
	margin-top: 10px;
	}
	#caja-boton{
	width: 100%;
	margin: 40px auto;
	}
}